body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background: blanchedalmond;



}

.container {
    margin: auto;
    margin-top: 5%;
    ;
    text-align: center;
    width: 70%;
    border: 2px solid #89CFF0;
}

.chart {
    margin-top: 2%;
    background: #89CFF0;
}

table {
    text-align: center;
    margin: auto;
}

.container .header {
    background: salmon;

}

.container .form {
    margin-top: 5px;
    background-color: pink;
}

input {
    text-align: center;
}